.image-slider-container {
    margin: 0 auto;
    width: 100%;
    height: auto;  
    padding: 20px;
    position: relative;
}

.carousel-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.some-of-our-work-heading {
    text-align: center;
    margin-top: -28rem;
    margin-bottom: 5rem;
    font-size: 3rem; 
    color: rgb(194, 179, 94);
}

.zigzag-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem 2rem;
}

.zigzag-item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
}

.zigzag-item img {
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.zigzag-item p {
    width: 100%;
    padding: 1rem;
    color: #fff;
}

.zigzag-item .reverse {
    flex-direction: row-reverse;
}

.slick-slide {
    transition: transform 0.3s ease, opacity 0.3s ease; 
    transform: scale(0.9); 
    opacity: 0.2; 
}

.slick-center {
    transform: scale(1);
    opacity: 1;  
}

.zigzag-item video {
    max-width: 40%; 
    height: auto; 
    border-radius: 10px; 
}


.zigzag-item h3 {
    font-size: 2.25em; /* Adjust font size as needed */
    color: #fff; /* Adjust color as needed */
    padding: 1rem;
    margin-bottom: 10rem; /* Space between the heading and the paragraph */
}

.view-more-link {
    font-weight: 900;
    display: inline-block; /* Makes the link align nicely with text */
    margin:  2rem 1rem; /* Space between the paragraph and the link */
    color: #fff; /* Example blue color for links */
    text-decoration: none; /* Optional: removes underline */
}

.view-more-link:hover {
    text-decoration: underline; /* Adds underline on hover for better UX */
}

  
  